{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <h4 class="text-center my-3 pb-3">Flashcards App</h4>

            <form method="POST" class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
              <div class="col-12">
                <div data-mdb-input-init class="form-outline">
                  <textarea name="flashcard" id="flashcard" class="form-control" placeholder="Enter a flashcard here"></textarea>
                  <label class="form-label" for="flashcard">Enter a flashcard here</label>
                </div>
              </div>

              <div class="col-12">
                <button type="submit" class="btn btn-primary">Add Flashcard</button>
              </div>
            </form>

            <table class="table mb-4">
              <thead>
                <tr>
                  
                  <th scope="col">Flashcard</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for  flashcard in user.flashcards %}
                <tr>
                  
                  <td>{{ flashcard.data }}</td>
                  <td>
                    <button type="button" class="btn btn-danger" onClick="deleteFlashcard({{ flashcard.id }})">Delete</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}
